.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background:linear-gradient(90deg, #3af1d357, #74edaf  ) ;
  box-shadow: 0 14px 8px rgba(0, 0, 0, 0.607);
}